@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Glasgow Caledonian University<br />
    70 Cowccadeans road, G40BA<br />
    <abbr title="Facebook">F:</abbr>
    facebook.com/UPEC2018
</address>

<address>
    <strong>Support:</strong>   <a href="upec2018@gcu.ac.uk">UPEC2018@gcu.ac.uk</a><br />
    <strong>Design:</strong> <a href="olaoluwapopoola@gmail.com">OlaoluwaPopoola@gmail.com</a>
</address>