<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0b01de75-ee19-4cdf-a1e0-76e3ff13674f/resourceGroups/upec/providers/Microsoft.Web/sites/upec</ResourceId>
    <ResourceGroup>upec</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://upec.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>upec.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>upec</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$upec</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:upecserver.database.windows.net,1433;Initial Catalog=upecdb;User ID=olapopoola@upecserver.database.windows.net;Password=sn00PY??" Name="Data Source=tcp:upecserver.database.windows.net,1433;Initial Catalog=upecdb;User Id=olapopoola@upecserver.database.windows.net;Password=sn00PY??;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PresenterData.Models.ApplicationDbContext, PresenterData" MigrationConfiguration="PresenterData.Migrations.Configuration, PresenterData" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:upecserver.database.windows.net,1433;Initial Catalog=upecdb;User Id=olapopoola@upecserver.database.windows.net;Password=sn00PY??;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>